<h1>Jobchain</h1>

<table width="100%" cellspacing="0" id="user_table" class="users list dtable" border="1">
    <thead id="TblHead">
        <tr>
            <td>Program</td>
            <td>Co-op 1</td>
            <td>Co-op 2</td>
            <td>Co-op 3</td>
            <td>Co-op 4</td>
            <td>Co-op 5</td>
            <td>Co-op 6</td>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="MyOrder in MyOrders">-->
        <tr>
            <td>Computer Science</td>
            <td>Company A</td>
            <td>Company B</td>
            <td>Company C</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Mechanical Engineering</td>
            <td>Toyota</td>
            <td>Tesla</td>
            <td>Apple</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Computer Engineering</td>
            <td>Encircle</td>
            <td>Encircle</td>
            <td>Jobchain</td>
            <td>Facebook</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Computer Science</td>
            <td>Nest Labs</td>
            <td>Capital One</td>
            <td>Capital One</td>
            <td>American Express</td>
            <td>Oracle</td>
            <td>Salesforce</td>
        </tr>
        <tr>
            <td>Software Engineering</td>
            <td>Wish</td>
            <td>Bloomberg</td>
            <td>Salesforce</td>
            <td>Asana</td>
            <td>Google</td>
            <td>Facebook</td>
        </tr>
        <tr>
            <td>Civil Engineering</td>
            <td>Environment Canada</td>
            <td>Department of National Defence</td>
            <td>Shopify</td>
            <td>Shopify</td>
            <td>Deloitte</td>
            <td>Deloitte</td>
        </tr>
    </tbody>
</table>